#form-input {
  padding: 20px;
}

label {
  
}

#submit {
  padding: 0px 0px 20px 0px;
}

form{
  margin-top: 13%;
  margin-left: 35%;
  border-style: solid;
  background-color:rgb(247, 226, 223); 
  width: fit-content;
}